name: Checks

on:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: diareuse/movie-metropolis/.github/actions/android@master
      - uses: gradle/gradle-build-action@v3
        with:
          arguments: check
      - uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Tests
          path: "**/test-results/**/*.xml"
          reporter: java-junit
          fail-on-empty: false
  builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: diareuse/movie-metropolis/.github/actions/android@master
      - uses: gradle/gradle-build-action@v3
        with:
          arguments: assemble

  merge:
    runs-on: ubuntu-latest
    needs: [ check, builds ]
    permissions:
      pull-requests: write
      issues: write
      repository-projects: write
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
